  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,700&display=swap');
#navbarNavAltMarkup{
    background-color: #90acb4 !important;

}
.container{
    width: 50%;
}

h2{
   text-align: center; 
}
.lead{
    text-align: center;
}


.container-imgs{
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 768) {

    .parrafo-somos{
max-width: 100%;
}

    .contenido{
        max-width: 100%;
    }  
    
}